# Problem Set 2
This problem set is based on lectures 4,5 and 6. For a complete list of topics please
consult page 2 of the course syllabus. Please consult the â€œInstructions for Problem
Set Submissionsâ€ document under course information before submitting your
assignment.

Question 1
Consider the following Python module:
a = 0
def b():
global a
a = c(a)
def c(a):
return a + 2

In [4]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

b()
b()
b()
print(a)

6

# Answer 1 : 
The answer displayed is 6 We are making the local variable 'a' as a global variable as it can be used within the fuction c(). First a=o, then it is declared global and passed to c, where it gets added as 2 and returned .Again this process repeats twice, a gets added up and becomes 6.

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

fileLength('idterm.py') File "/Users/me/midterm.py", line 3, in fileLength infile = open(filename) FileNotFoundError: [Errno 2] No such file or directory: 'idterm.py' As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:

In [5]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print(file_name+" not found")

file_length('D:\Study material\BDAT 1004 Data Programming\currencies.txt')
file_length('wrongfile.py')

477
wrongfile.py not found

# Question 3
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
movesthe kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.

>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [12]:
class Marsupial:
    
    def __init__(self):
        self.pouch=[]
    def put_in_pouch(self,item):
        self.pouch.append(item)
    def pouch_contents(self):
        print(self.pouch)
        
class Kangaroo(Marsupial):
    def __init__(self,x1,y1):
        self.x = x1
        self.y = y1
        Marsupial.__init__(self)
    
    def jump(self,x1,y1):
        self.x = self.x + x1
        self.y = self.y + y1
        
    def __str__(self):
        return 'I am a Kangaroo located at coordinates ({}, {})'.format(self.x, self.y)

m=Marsupial()
m.put_in_pouch("doll")
m.put_in_pouch("firetruck")
m.put_in_pouch("kitten")
m.pouch_contents()

k=Kangaroo(0,0)
print(k)
k.put_in_pouch("doll")
k.put_in_pouch("firetruck")
k.put_in_pouch("kitten")
k.pouch_contents()

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0, 0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3, 0)

# Question 4
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
ð‘¥/2 ð‘–ð‘“ ð‘¥ ð‘–ð‘  ð‘’ð‘£ð‘’ð‘›3ð‘¥
+1 ð‘–ð‘“ ð‘¥ ð‘–ð‘  ð‘œð‘‘ð‘‘
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.

In [12]:
def collatz(x):
    print(int(x))
    if x > 1:
        if x%2==0:
            collatz(int(x)/2)
        else:
            collatz((int(x) * 3) + 1)
collatz(1)
print('----------------')
collatz(10)

1
----------------
10
5
16
8
4
2
1

# Question 5
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [19]:
def binary(n):
    if n == 0 :
        return 0
    else:
        return(n % 2 + 10 * binary(int(n // 2)))
    

binary(9)

1001

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the
from html.parser import HTMLParserdocument.Each heading should be indented asfollows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

In [30]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    Tag1 = False
    Tag2 = False
    def handle_starttag(self, tag, attrs):
        if tag == 'h1':
            self.Tag1 = True
        if tag == 'h2':
            self.Tag2 = True    
    def handle_data(self, data):
        if self.Tag1 == True:
            print(data)
        if self.Tag2 == True:
            print(' ' + data)
    def handle_endtag(self, tag):
        if tag == 'h1':
            self.Tag1 = False
        if tag == 'h2':
            self.Tag2 = False
            

infile = open('D:\Study material\BDAT 1004 Data Programming\w3c.HTML')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

# Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.

>>>

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [20]:
from html.parser import HTMLParser           
f = open(r'D:\Study material\BDAT 1004 Data Programming\w3c.HTML')            
a=str(f.read())

class HeadingParser(HTMLParser):        
  
    def __init__(self):                    
        HTMLParser.__init__(self)
        self.flag = 0 
    
    def handle_starttag(self, tag, attrs):                     
        
        if tag == 'h1' or tag == 'h2' or tag == 'h3' or tag == 'h4' or tag=='h5' or tag == 'h6' or tag == 'h7':
            self.flag += 1                                     
        else:
            self.flag = 0
            
    def handle_data(self, data):           
        if self.flag and data!='\n':
            
            print('{} {} '.format(self.flag*' ', data))


parser = HeadingParser()                           
parser.feed(a)

  W3C Mission


   Principles

# Question 8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [21]:
import sqlite3
con = sqlite3.connect('ipydb.db')
cur = con.cursor()
cur.execute("CREATE TABLE CityWeather (City text, Country text, Season text,Temperature float,Rainfall float)")

In [22]:
cur.execute("INSERT INTO cityWeather VALUES ('Mumbai', 'India', 'Winter',24.8,5.9)")
cur.execute("INSERT INTO cityWeather VALUES ('Mumbai', 'India', 'Spring',28.4,16.2)")
cur.execute("INSERT INTO cityWeather VALUES ('Mumbai', 'India', 'Summer',27.9,1549.4 )")
cur.execute("INSERT INTO cityWeather VALUES ('Mumbai', 'India', 'Fall',27.6,346.0)")
cur.execute("INSERT INTO cityWeather VALUES ('London', 'United Kingdom', 'Winter',4.2,207.7 )")
cur.execute("INSERT INTO cityWeather VALUES ('London', 'United Kingdom', 'Spring',8.3,169.6)")
cur.execute("INSERT INTO cityWeather VALUES ('London', 'United Kingdom', 'Summer',15.7,157.0)")
cur.execute("INSERT INTO cityWeather VALUES ('London', 'United Kingdom', 'Fall',10.4,218.5)")
cur.execute("INSERT INTO cityWeather VALUES ('Cairo', 'Egypt', 'Winter',13.6,16.5)")
cur.execute("INSERT INTO cityWeather VALUES ('Cairo', 'Egypt', 'Spring',20.7,6.5)")
cur.execute("INSERT INTO cityWeather VALUES ('Cairo', 'Egypt', 'Summer',27.7,0.1)")
cur.execute("INSERT INTO cityWeather VALUES ('Cairo', 'Egypt', 'Fall',22.2,4.5)")

In [23]:
cur.execute('SELECT * FROM cityWeather')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

# a) All the temperature data.

In [30]:
cur.execute('SELECT temperature FROM cityWeather')
A=cur.fetchall()
for item in A:
    print(item)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

# b) All the cities, but without repetition.

In [25]:
cur.execute('SELECT DISTINCT City FROM cityWeather')
B=cur.fetchall()
for item in B:
    print(item)

('Mumbai',)
('London',)
('Cairo',)

# c) All the records for India.

In [26]:
cur.execute("SELECT * FROM cityWeather WHERE Country='India'")
C=cur.fetchall()
for item in C:
    print(item)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

# d) All the Fall records.

In [27]:
cur.execute("SELECT * FROM cityWeather WHERE Season='Fall'")
D=cur.fetchall()
for item in D:
    print(item)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [28]:
cur.execute("SELECT City,country,Season FROM cityWeather WHERE Rainfall BETWEEN 200 AND 400")
E=cur.fetchall()
for item in E:
    print(item)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [31]:
cur.execute("SELECT City,country FROM cityWeather WHERE Season='Fall' AND temperature > 20 ORDER BY temperature ASC")
F=cur.fetchall()
for item in F:
    print(item)

('Cairo', 'Egypt')
('Mumbai', 'India')

# g) The total annual rainfall for Cairo

In [32]:
cur.execute("SELECT SUM(Rainfall) FROM cityWeather WHERE City='Cairo'")
G=cur.fetchall()
for item in G:
    print(item)

(27.6,)

# h) The total rainfall for each season.

In [33]:
cur.execute("SELECT SUM(Rainfall) FROM cityWeather GROUP BY Season")
H=cur.fetchall()
for item in H:
    print(item)

(569.0,)
(192.29999999999998,)
(1706.5,)
(230.1,)

# Question 9
Suppose list words is defined as follows: words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] Write list comprehension expressions that use list words and generate the following lists:

In [1]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

# a)

In [2]:
a = [elements.upper() for elements in words]
print (a)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

# b)

In [3]:
b = [elements.lower() for elements in words]
print(b)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# c)

In [4]:
c = [len(elements) for elements in words]
print(c)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

# d)

In [5]:
d = [[elements.upper(),elements.lower(),len(elements)] for elements in words]
print(d)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

# e)

In [6]:
e = [elements for elements in words if len(elements)>=4]
print(e)

['quick', 'brown', 'jumps', 'over', 'lazy']